<div class="card">
  <div class="container">
    <div style="margin: 1em 0em;">
      <span><b>Inbox ({{EmailList.length}})</b></span> - <em> {{name}}</em>
    </div>
  </div>
  <div style="overflow-x:auto;">
    <table>
      <tr>
        <th>#</th>
        <th>Subject</th>
        <th>SentDate</th>
        <th>Sender</th>
        <th>Preview Content</th>
      </tr>
      <tr *ngFor="let email of EmailList">
        <td>{{email?.counter}}</td>
        <td><a [routerLink]="['/email/item', email?._id]">{{email?.Subject}}</a></td>
        <td>{{email?.SentDate}}</td>
        <td>{{email?.Sender.Email}}</td>
        <td>{{email?.Body.slice(0,30)+'...'}}</td>
      </tr>
    </table>
  </div>
</div>
