.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  background: white;
  border-radius: 5px; /* 5px rounded corners */
  margin-bottom: 16px;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}

table {
  table-layout: fixed;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

th, td {
  border: none;
  text-align: left;
  word-wrap:break-word;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}
