<div class="card" >
  <div class="container">
    <div style="margin: 1em 0em;">
      <span><b>Email Detail</b></span>
    </div>
  </div>
  <div style="overflow-x:auto;">
    <table>
      <tr>
        <th>Subject</th>
        <th>Body</th>
        <th>Sender</th>
        <th>ToRecipients</th>
        <th>SentDate</th>
      </tr>
      <tr *ngFor="let email of (EmailItem$ | async)?.EmailItem">
        <td>{{email?.Subject}}</td>
        <td>{{email?.Body}}</td>
        <td>{{email?.Sender.Email}}</td>
        <td>
          <ul *ngFor="let i of email?.ToRecipients">
            <li>{{i}}</li>
          </ul>
        </td>
        <td>{{email?.SentDate}}</td>
      </tr>
    </table>
  </div>
</div>
