<ul class="topnav" #topnav>
  <li><a routerLink="/dashboard" routerLinkActive="active">Dashboard</a></li>
  <li><a routerLink="/profile" routerLinkActive="active">Profile</a></li>
  <li><a routerLink="/weather" routerLinkActive="active">Weather</a></li>
  <li><a routerLink="/email" routerLinkActive="active">Email</a></li>
  <li class="icon">
    <a (click)="toggle()">&#9776;</a>
  </li>
</ul>
